{% extends 'PowerTeamLayout.html'%}
{% block navs %}
<li><a href="/Project/Dashboard/((ProjectId))"><i class="am-icon-tachometer"></i>概览</a></li>
<li><a href="/Project/Setting/((ProjectId))"><i class="am-icon-gear"></i>设置</a></li>
<li class="active"><a href="/Project/Task/((ProjectId))"><i class="am-icon-tasks"></i>任务</a></li>
<li><a href="/Project/Case/((ProjectId))"><i class="am-icon-suitcase"></i>用例</a></li>
<li><a href="/Project/Issue/((ProjectId))"><i class="am-icon-bug"></i>问题</a></li>
<li><a href="/Project/Team/((ProjectId))"><i class="am-icon-users"></i>团队</a></li>
{% endblock %}
{% block subcontent %}
<div class="am-panel am-panel-primary ng-cloak" ng-controller="TaskCreateCtrl" ng-init="Task.ProjectId=((ProjectId));Task.TaskType=1;Task.TaskLinkCase='';">
    <div class="am-panel-hd"><i class="am-icon-plus"></i>创建新任务</div>
    <div class="am-panel-bd">
        <form role="form" name="createTaskForm">
            <div class="am-alert am-alert-success am-alert-dismissable" ng-show="AddSuccess">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>创建新任务成功!</strong>
            </div>
            <div class="am-form-group">
                <label>任务名称<span class="am-text-danger">*</span></label>
                <input type="text" class="am-form-field" id="TaskName" name="TaskName" ng-model="Task.TaskName" placeholder="任务名称" required />
                <div ng-show="createTaskForm.TaskName.$dirty&&createTaskForm.TaskName.$error.required" class="am-text-danger">请输入任务名称</div>
            </div>
            <div class="am-form-group">
                <label>任务类型<span class="am-text-danger" >*</span></label>
                <select class="am-form-field" ng-model="Task.TaskType" >
                    <option value="1">默认</option>
                    <option value="2">测试-手动</option>
					<option value="3">测试-自动化</option>
                </select>
			</div>
            <div class="am-form-group">
                <label>指派给<span class="am-text-danger">*</span></label>
                <select class="am-form-field" ng-model="Task.AssignTo">
                    <option value="-1">我</option>
                    {% for member in MemberList %}
                    <option value="((member.UserId))">((member.Nick))</option>
                    {% endfor %}
                </select>
            </div>
            <div class="am-form-group">
                <label>优先级<span class="am-text-danger">*</span></label>
                <select class="am-form-field" ng-model="Task.Priority">
                    <option value="1">高</option>
                    <option value="2">中</option>
                    <option value="3">低</option>
                </select>
            </div>
            <div class="am-form-group">
                <label>详细描述</label>
                <script id="editor" type="text/plain">
                </script>
            </div>
            <button type="button" id="btnCreate" class="am-btn am-btn-primary" ng-disabled="createTaskForm.$invalid"  ng-click="create()" ><i class="fa fa-save fa-fw"></i>创建</button>
        </form>
    </div>
</div>
{% endblock %}
