{% extends 'PowerTeamLayout.html' %}
{% block subcontent %}
    <div class="am-panel am-panel-primary ng-cloak" ng-controller="ProjectUpdateCtrl"
         ng-init="Project.ProjectId=((Project.ProjectId));Project.ProjectPrefix='((Project.ProjectPrefix))';Project.ProjectName='((Project.ProjectName))';Project.Status=((Project.Status));Project.Creator=((Project.Creator))">
        <div class="am-panel-hd"><strong><i class="fa fa-info fa-fw"></i>{{ Project.ProjectName }}</strong><strong
                class="pull-right">((CreatorName)) 创建于 ((Project.CreateDate.strftime('%Y-%m-%d %H:%M')))</strong></div>
        <div class="am-panel-bd">
            <form role="form" name="updateProjectForm">
                <div class="am-form-group">
                    <label>项目名称<span class="am-text-danger">*</span></label>
                    <input type="text" class="am-form-field" name="ProjectName" ng-model="Project.ProjectName"
                           placeholder="项目名称" required minlength=5 maxlength=20/>
                    <!--<div ng-show="updateProjectForm.ProjectName.$dirty&&updateProjectForm.ProjectName.$error.required" class="am-text-danger">请输入项目名称</div>-->
                </div>
                <div class="am-form-group">
                    <label>项目前缀<span class="am-text-danger">*</span></label>
                    <input type="text" class="am-form-field" name="ProjectPrefix" ng-model="Project.ProjectPrefix"
                           placeholder="项目前缀" required minlength=2 maxlength=5/>
                    <!--<div ng-show="updateProjectForm.ProjectName.$dirty&&updateProjectForm.ProjectName.$error.required" class="am-text-danger">请输入项目名称</div>-->
                </div>
                <div class="am-form-group">
                    <label>项目状态</label>
                    <select class="am-form-field" ng-model="Project.Status">
                        <option value="1">进行中</option>
                        <option value="2">已完成</option>
                        <option value="3">已取消</option>
                    </select>
                </div>
                <button type="button" id="btnUpdate" class="am-btn am-btn-primary" data-loading-text="正在更新"
                        ng-click="update()"><i class="fa fa-save fa-fw"></i>更新
                </button>
                {% if Project.Creator==CurrentUser %}
                    <button type="button" id="btnDelete" class="am-btn am-btn-danger" data-loading-text="正在删除"
                            ng-click="Delete()"><i class="am-icon-trash-o"></i>删除
                    </button>
                {% else %}
                    <button type="button" id="btnDelete" class="am-btn am-btn-danger" disabled="disabled"><i
                            class="am-icon-trash-o"></i>删除-((CreatorName))
                    </button>
                {% endif %}
                <a href="/MyZone" class="am-btn am-btn-default"><i class="am-icon-reply"></i>返回</a>
            </form>
        </div>
    </div>
{% endblock %}
